<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
        <form method="POST" action="{{ url_for('register.register') }}">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.username.label(class_="form-label") }}
                {{ form.username(class_="form-control") }}
                {% for error in form.username.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.password.label(class_="form-label") }}
                {{ form.password(class_="form-control") }}
                {% for error in form.password.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.email.label(class_="form-label") }}
                {{ form.email(class_="form-control") }}
                {% for error in form.email.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.mobile_nr.label(class_="form-label") }}
                {{ form.mobile_nr(class_="form-control") }}
                {% for error in form.mobile_nr.errors %}
                    <small class="text-danger">{{ error }}</small>
                {% endfor %}
            </div>

            <div class="d-grid">
                {{ form.submit() }}
            </div>
        </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>